<ion-view view-title="Dashboard" class="">
  <ion-content class="">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <div class="item item-divider">
        Current events
      </div>
      <ion-item
        class="item-borderless"
        ng-repeat="activity in storage.activityList | orderBy : 'date' : 'reverse'"
        ng-if="activity.active == true">

        <strong>{{activity.name}}</strong> | <small>Täningsgräns: {{activity.timeLimit}} timmar</small>

        <p style="white-space: normal; overflow: auto; line-height: 1em;">
          <small ng-show="activity.currentEvent.date != undefined">Du tränade</small>
          <small am-time-ago="activity.currentEvent.date">{{activity.currentEvent.date}}</small>
          <small ng-show="activity.currentEvent.nextDate != undefined" class="">, nästa träning är tidigast</small>
          <small
            ng-show="activity.currentEvent.nextDate != undefined" class=""
            am-time-ago="activity.currentEvent.nextDate">{{activity.currentEvent.nextDate}}
          </small>
        </p>

        <progress
          ng-if="activity.currentEvent"
          style="margin: -5px 0 0 0;"
          max="{{activity.currentEvent.timeLimit * 60}}"
          value="{{activity.currentEvent.nextDate | amDifference : null : 'minutes' }}">
        </progress>

        <p style="white-space: normal; overflow: auto; line-height: 1em; font-style: italic;">
          <small>{{activity.description}}</small>
        </p>

        <button
          ng-show="activity.currentEvent != undefined"
          class="button button-small button-assertive"
          ng-click="removeEvent(activity.currentEvent)">
          <i class="button-icon button-small ion-close-circled"></i>
        </button>
        <button
          ng-show="activity.currentEvent == undefined"
          class="button button-small button-dark"
          ng-click="addEvent(activity)">
          <i class="button-icon button-small ion-clock"></i>
        </button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
