<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top  tabs-dark">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ribbon-a" icon-on="ion-ribbon-a" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Stats" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Trackings" icon-off="ion-toggle-filled" icon-on="ion-toggle-filled" href="#/tab/trackings">
    <ion-nav-view name="tab-trackings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
